.jumbotron {
  padding-top: 3rem;
  background-color: whitesmoke;
}
#BT {
  background-color: whitesmoke;
}
section {
  padding-top: 5rem;
}
/* rgb(145, 238, 176)
rgb(145, 238, 176) 
a2d9ff*/